/* This file is for your main application css. */
@import "bootstrap";

#bg-img {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  color: black;
  background-image: url("/images/image1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1500px 800px;

}

.feed-col {
  margin-top: 2ex;
}

/*-----your teams-----*/

.your-teams-card {
  width: 100%;
}

.your-team-row {
  padding: 2ex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.left-button {
  margin-right: 1ex;
}

/*-----follow form-----*/

.follow-form-card {
  width: 100%;
  margin-bottom: 2ex;
}

.follow-form-row {
}

.follow-form-label {
  margin-bottom: 1ex;
}

/*-----schedule-----*/

.schedule-card {
  width: 100%;
}

.match-col {
  text-align: center;
}

.match-row {
  margin-bottom: 2ex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.match-container {
  margin-bottom: 2ex;
}

.match-info-row {
  margin-bottom: 2ex;
}

.placeholder {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: table;
  margin: 0 auto;
}

.match-team-name {
  margin: 0 auto;
}

.chat-card {
  max-height: 50ex;
}

.team-chat-cardbody {
  overflow-y: scroll;
  overflow-x: scroll;
  max-width: 50ex;
  width: 50ex;
}

.chat-input-textarea {
  height: 4ex;
}

.chat-input-formgroup {
  margin: 0;
}

.chat-message-container {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  padding: 0;
  margin-bottom: 1ex;
  background-color: rgba(0, 0, 0, 0.02);
  display: inline-block;
  float: left;
  clear: left;
}

.chat-message-row {
  margin: 0.5rem;
}
