/* This file is for your main application css. */
@import "bootstrap";

.feed-col {
  margin-top: 1ex;
}

.card-header {
  /*background-color: #343a40;*/
}

.your-team-row {
  margin-bottom: 2ex;
}

.left-button {
  margin-right: 1ex;
}

/*follow form*/

.follow-form-row {
  margin-bottom: 2ex;
}

.follow-form-label {
  margin-bottom: 1ex;
}
