<%= if @current_user do %>
<script>
  window.userEmail = "<%= @current_user.email %>";
  console.log("email: "+window.userEmail);
</script>
  <div id="root">
    <p>React app loading</p>
  </div>
<% end %>
